body {
    background-color: #FFE063;
    min-height: 100vh; 
    overflow-x: hidden;
}
.text-center {
    text-align: center;
}

#logo {
    margin-top: 30px;
    text-align: right;
    float: right;
}

#nav {
    text-align: center;
}

.nav-link {
    font-size: 1em;
    color: rgb(110, 110, 110);
}

.active {
    color: rgb(245, 34, 34);
}

.active:visited {
    color: rgb(3, 3, 3);
}

.carousel-inner {
    max-height: 800px;
    overflow: hidden;
}

footer {
    background-color: rgb(237, 237, 86);
    color: black;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.caue {
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: large;
}

.quem {
    padding: 10px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}

.minha-foto {
    text-align: left;
    margin-top: -230px;
}

.minha-foto img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-left: 400px;
}

.texto {
    text-align: left;
    margin-left: 700px;
}
.texto-musica {
    text-align: left;
    margin-left: 700px;
}

.tabela {
    position: absolute;
    top: 200px;
    left: 0;
    margin-right: 370px;
    border-radius: 100%;
}

.foto-redonda2 {
    border-radius: 100%;
    max-width: 400px;
    max-height: 400px;
    margin: 10px;
    width: 200px;
    height: 200px;
}

.image-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    margin-top: 20px;
}
a img {
    text-decoration: none;
}
a {
    text-decoration: none;
}
.texto-tabela {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.foto-redonda {
    border-radius: 50%;
}
.estudio img {
    margin-top: -180px;
    border-radius: 10%;
    margin-bottom: 20px;
}
.videoclipe {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 30px;
}
.linkedin {
    width: 40px;
}
